<div class="grid-2col">
  <div class="epx-block">
    <div class="experience">
      <label for="system.exp">{{localize
          "WASTELANDERS.Actor.Character.Experience.Short"
        }}:</label>
      {{numberInput
        system.exp
        name="system.exp"
        class="clear-input"
        step=1
        min=0
      }}
    </div>

    <h2>{{localize "WASTELANDERS.Actor.Character.Experience.Gains"}}</h2>
    <ul>
      <li>{{localize
          "WASTELANDERS.Actor.Character.Experience.GainFailure"
        }}</li>
      <li>{{localize
          "WASTELANDERS.Actor.Character.Experience.GainGroupQuestions"
        }}</li>
      <li>{{localize
          "WASTELANDERS.Actor.Character.Experience.GainPersonalQuestions"
        }}</li>
      <li>{{localize "WASTELANDERS.Actor.Character.Experience.GainRest"}}</li>
    </ul>

    <h2>{{localize "WASTELANDERS.Actor.Character.Experience.Consumption"}}</h2>
    <ul>
      <li>{{localize "WASTELANDERS.Actor.Character.Experience.NewPerk"}}</li>
      <li>{{localize "WASTELANDERS.Actor.Character.Experience.LearnSkill"}}</li>
      <li>{{localize
          "WASTELANDERS.Actor.Character.Experience.SkillToJourneyman"
        }}</li>
      <li>{{localize
          "WASTELANDERS.Actor.Character.Experience.SkillToMaster"
        }}</li>
      <li>{{localize
          "WASTELANDERS.Actor.Character.Experience.AttributeToPlus2"
        }}</li>
      <li>{{localize
          "WASTELANDERS.Actor.Character.Experience.AttributeToPlus3"
        }}</li>
      <li>{{localize
          "WASTELANDERS.Actor.Character.Experience.AttributeToPlus4"
        }}</li>
    </ul>

  </div>
  <div>
    <h2>{{localize "WASTELANDERS.Description"}}</h2>
    {{editor
      enrichedDescription
      target="system.description"
      button=true
      owner=owner
      editable=editable
    }}

    <h2>{{localize "WASTELANDERS.Notes"}}</h2>
    {{editor
      enrichedNotes
      target="system.notes"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</div>