<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header">
    <div class="img-block">

      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

      <div class="hp-bar">
        <div class="hp-bar-fill" style="width: {{hpBarWidth system.hp}};"></div>
        <div class="hp-values">
          {{numberInput system.hp.value name="system.hp.value" class="hp-input clear-input" step=1 min=0}}
          <span class="hp-separator">/</span>
          {{numberInput system.hp.max name="system.hp.max" class="hp-input clear-input" step=1 min=0}}
        </div>
      </div>

    </div>

    <div class="header-fields">
      <h1><input class="character-name clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'WASTELANDERS.Actor.Caravan.Name'}}"/></h1>

      <div class="brief-info grid-2col">
        <div class="prop">
          <label class="prop-label" for="system.karmicAspect">{{localize 'WASTELANDERS.Actor.Caravan.KarmicAspect'}}:</label>
          <input class="clear-input" name="system.karmicAspect" type="text" value="{{system.karmicAspect}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.reputation">{{localize 'WASTELANDERS.Actor.Caravan.Reputation'}}:</label>
          <input class="clear-input" name="system.reputation" type="text" value="{{system.reputation}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.caps">{{localize 'WASTELANDERS.Actor.Caravan.Caps'}}:</label>
          {{numberInput system.caps name="system.caps" class="clear-input" step=1 min=0 max=500}}
        </div>
        <div class="prop">
          <label class="prop-label" for="system.armor">{{localize 'WASTELANDERS.Actor.Caravan.Armor'}}:</label>
          {{numberInput system.armor name="system.armor" class="clear-input" step=1 min=0 max=20}}
        </div>
        <div class="prop">
          <label class="prop-label" for="system.karma">{{localize 'WASTELANDERS.Actor.Caravan.Karma'}}:</label>
          {{numberInput system.karma name="system.karma" class="clear-input" step=1 min=0 max=20}}
        </div>
        <div class="prop">
          <label class="prop-label" for="system.luck">{{localize 'WASTELANDERS.Actor.Caravan.Luck'}}:</label>
          {{numberInput system.luck name="system.luck" class="clear-input" step=1 min=0 max=20}}
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">{{localize 'WASTELANDERS.Actor.General'}}</a>
    <a class="item" data-tab="cargo">{{localize 'WASTELANDERS.Actor.Inventory'}}</a>
    <a class="item" data-tab="notes">{{localize 'WASTELANDERS.Actor.Notes'}}</a>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">

    {{!-- General Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <div class="general-container">
        <h2>
          <span>{{localize 'WASTELANDERS.Actor.Caravan.Range'}}:</span>
          {{numberInput system.range.value name="system.range.value" class="clear-input" step=1 min=0 max=20}}
          <span>/</span>
          {{numberInput system.range.max name="system.range.max" class="clear-input" step=1 min=0 max=20}}
        </h2>
        <p class="subheader">{{localize 'WASTELANDERS.Actor.Caravan.RangeTips'}}</p>

        {{> "systems/wastelanders/templates/actor/parts/upgrades.hbs"}}
      </div>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab cargo" data-group="primary" data-tab="cargo">
      <div class="cargo-container">
        {{> "systems/wastelanders/templates/actor/parts/cargo.hbs"}}
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/wastelanders/templates/actor/parts/caravan-notes.hbs"}}
    </div>

  </section>
</form>
