<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="img-block">

      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

      <div class="hp-bar">
        <div class="hp-bar-fill" style="width: {{hpBarWidth system.hp}};"></div>
        <div class="hp-values">
          {{numberInput system.hp.value name="system.hp.value" class="hp-input clear-input" step=1 min=0}}
          <span class="hp-separator">/</span>
          {{numberInput system.hp.max name="system.hp.max" class="hp-input clear-input" step=1 min=0}}
        </div>
      </div>

    </div>
    <div class="header-fields">
      <div class="name-block flexrow">
        <h1><input class="character-name clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'WASTELANDERS.Actor.Name'}}"/></h1>
        <h3 class="prop">
          <input class="clear-input archetype" name="system.archetype" type="text" value="{{system.archetype}}" placeholder="{{localize 'WASTELANDERS.Actor.Character.Archetype'}}"/>
          <span>|</span>
          <input class="clear-input race" name="system.race" type="text" value="{{system.race}}" placeholder="{{localize 'WASTELANDERS.Actor.Character.Race'}}"/>
        </h3>
      </div>

      <div class="brief-info">
        <div class="prop">
          <label class="prop-label" for="system.concept">{{localize 'WASTELANDERS.Actor.Character.Concept'}}:</label>
          <input class="clear-input all-width" name="system.concept" type="text" value="{{system.concept}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.problem">{{localize 'WASTELANDERS.Actor.Character.Problem'}}:</label>
          <input class="clear-input all-width" name="system.problem" type="text" value="{{system.problem}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.goal">{{localize 'WASTELANDERS.Actor.Character.Goal'}}:</label>
          <input class="clear-input all-width" name="system.goal" type="text" value="{{system.goal}}"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">{{localize 'WASTELANDERS.Actor.General'}}</a>
    <a class="item" data-tab="inventory">{{localize 'WASTELANDERS.Actor.Inventory'}}</a>
    <a class="item" data-tab="notes">{{localize 'WASTELANDERS.Actor.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- General Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <div class="general-container">
        <div>
          {{> "systems/wastelanders/templates/actor/parts/attributes.hbs"}}
          {{> "systems/wastelanders/templates/actor/parts/skills.hbs"}}
        </div>
        <div>
          <div class="fate-points grid-2col">
            <h2>
              <label class="prop-label" for="system.fate.value">{{localize 'WASTELANDERS.Actor.Character.FatePoints.Value'}}:</label>
              {{numberInput system.fate.value name="system.fate.value" class="clear-input" step=1 min=0 max=50}}
            </h2>
            <h2>
              <label class="prop-label" for="system.fate.recover">{{localize 'WASTELANDERS.Actor.Character.FatePoints.Recover'}}:</label>
              {{numberInput system.fate.recover name="system.fate.recover" class="clear-input" step=1 min=0 max=50}}
            </h2>
          </div>
          <div class="prop">
            <label class="prop-label" for="system.consequences.light">{{localize 'WASTELANDERS.Actor.Character.Consequence.Light'}}:</label>
            <input class="clear-input all-width" name="system.consequences.light" type="text" value="{{system.consequences.light}}"/>
          </div>
          <div class="prop">
            <label class="prop-label" for="system.consequences.moderate">{{localize 'WASTELANDERS.Actor.Character.Consequence.Moderate'}}:</label>
            <input class="clear-input all-width" name="system.consequences.moderate" type="text" value="{{system.consequences.moderate}}"/>
          </div>
          <div class="prop">
            <label class="prop-label" for="system.problem.heavy">{{localize 'WASTELANDERS.Actor.Character.Consequence.Heavy'}}:</label>
            <input class="clear-input all-width" name="system.consequences.heavy" type="text" value="{{system.consequences.heavy}}"/>
          </div>

          {{> "systems/wastelanders/templates/actor/parts/feats.hbs"}}
          {{> "systems/wastelanders/templates/actor/parts/perks.hbs"}}

        </div>
      </div>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      <div class="inventory-container grid-2col">
        {{> "systems/wastelanders/templates/actor/parts/inventory.hbs"}}
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/wastelanders/templates/actor/parts/character-notes.hbs"}}
    </div>

  </section>
</form>
