<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header">
    <div class="img-block">

      <img
        class="profile-img"
        src="{{actor.img}}"
        data-edit="img"
        title="{{actor.name}}"
      />

      <div class="hp-bar">
        <div class="hp-bar-fill" style="width: {{hpBarWidth system.hp}};"></div>
        <div class="hp-values">
          {{numberInput
            system.hp.value
            name="system.hp.value"
            class="hp-input clear-input"
            step=1
            min=0
          }}
          <span class="hp-separator">/</span>
          {{numberInput
            system.hp.max
            name="system.hp.max"
            class="hp-input clear-input"
            step=1
            min=0
          }}
        </div>
      </div>

    </div>

    <div class="header-fields">
      <h1><input
          class="character-name clear-input"
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize 'WASTELANDERS.Actor.Enemy.Name'}}"
        /></h1>

      <div class="brief-info">
        <div class="prop">
          <label class="prop-label" for="system.type">{{localize
              "WASTELANDERS.Actor.Enemy.Type"
            }}:</label>
          <select name="system.type">
            {{selectOptions config.enemyType selected=system.type localize=true}}
          </select>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.armor">{{localize
              "WASTELANDERS.Actor.Enemy.Armor"
            }}:</label>
          <input
            class="clear-input"
            name="system.armor"
            type="text"
            value="{{system.armor}}"
          />
        </div>
      </div>

    </div>
  </header>

  {{! Sheet Body }}
  <section class="sheet-body">
    <div class="general-container">
      <hr />

      <div class="items-block">

        <div class="item-header">
          <a
            class="item-create"
            title="{{localize 'WASTELANDERS.Item.Add'}}"
            data-type="attack"
          ><i class="fas fa-plus"></i></a>
          <h2>{{localize "WASTELANDERS.Actor.Enemy.Attacks"}}</h2>
        </div>

        <ol class="items-list">
          {{#each attacks as |item id|}}
            <li class="item {{item.type}}" data-item-id="{{item._id}}">
              <div class="item-description">
                <a
                  class="item-image damage-roll"
                  data-formula="{{item.system.damage}}"
                  style="background-image: url({{item.img}})"
                ></a>
                <span class="item-name">{{item.name}}</span>
                {{#if item.system.damage}}
                  <span class="item-damage">({{item.system.damage}})</span>
                {{/if}}
              </div>

              <div class="item-summary">
                {{#if item.system.price}}
                  <b><label class="prop-label" for="system.price">{{localize
                        "WASTELANDERS.Item.Price"
                      }}:</label></b>
                  <span class="item-price">{{item.system.price}}</span>
                {{/if}}
                {{{item.system.description}}}
              </div>

              <div class="item-controls">
                <a
                  class="item-control item-show"
                  title="{{localize 'WASTELANDERS.Item.Show'}}"
                ><i class="fa fa-comment"></i></a>
                <a
                  class="item-control item-edit"
                  title="{{localize 'WASTELANDERS.Item.Edit'}}"
                ><i class="fas fa-edit"></i></a>
                <a
                  class="item-control item-delete"
                  title="{{localize 'WASTELANDERS.Item.Delete'}}"
                ><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>

      {{editor
        enrichedDescription
        target="system.description"
        rollData=rollData
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=true
      }}
    </div>
  </section>
</form>
