<div>
  <div class="inputs-block">
    <div class="attributes flexrow">
      <label for="attribute">{{localize "WASTELANDERS.Actor.Character.Attribute.Single"}}:
      </label>
      <select
        id="attribute"
        class="dice-listen"
        name="attribute"
        data-type="String"
      >
        {{selectOptions
          rollConfig.attributes
          selected=defaults.attribute
          localize=true
        }}
      </select>
    </div>

    <div class="skills flexrow">
      <label for="skill">{{localize "WASTELANDERS.Actor.Character.Skill.Single"}}: </label>
      <select
        id="skill"
        class="dice-listen"
        name="skill"
        data-type="String"
      >
        {{selectOptions
          rollConfig.skills
          selected=defaults.skill
          localize=true
        }}
      </select>
    </div>

    <div class="modifier flexrow">
      <label for="advantage">{{localize "WASTELANDERS.Roll.AdvantageTitle"}}: </label>
      <select
        id="advantage"
        class="dice-listen"
        name="advantage"
        data-type="String"
      >
        {{selectOptions
          rollConfig.rollAdvantage
          localize=true
        }}
      </select>
    </div>

    {{#if damage}}
      <div class="damage">
        <label for="damage">{{localize "WASTELANDERS.Item.Damage"}}:</label>
        <span>{{damage}}</span>
      </div>
    {{/if}}
  </div>

  <button type="submit">{{localize "WASTELANDERS.Roll.Submit"}}</button>
</div>
