<form class="{{cssClass}} {{item.type}}" autocomplete="off">
  <header class="items-header">
    <img
      class="item-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="item-name">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'WASTELANDERS.Item.Name'}}"
        />
      </h1>
      <div class="brief-info">
        <div class="prop flex-centration">
          <label class="prop-label" for="system.active">{{localize
              "WASTELANDERS.Item.IsActive"
            }}</label>
          <div
            class="value-step-block"
            data-value="{{system.active.value}}"
            data-key="system.active.value"
          >
            {{#numLoop system.active.max}}
              <span class="value-step value-dot" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        <div class="prop flex-centration">
          <label class="prop-label" for="system.active">{{localize
              "WASTELANDERS.Item.CanBeActivated"
            }}:</label>
          {{numberInput
            system.active.max
            name="system.active.max"
            class="clear-input"
            step=1
            min=1
            max=10
          }}
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Body }}
  <section class="sheet-body">
    <hr />
    {{editor
      enrichedDescription
      target="system.description"
      rollData=rollData
      button=true
      engine="prosemirror"
      editable=editable
      collaborate=true
    }}
  </section>

</form>